

.skills-section h1 {
    font-size: 7rem;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;
}

.skills-section h3 {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}


.skills-section p {
    color: white;
    font-size: 1.5rem;
}

.skills-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    grid-gap: 50px; /* Espacement entre les colonnes */
  }

  .skill-component {
    border: 3px solid white;
    padding: 30px;
  }

.bubble {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    margin-right: 5px;
  }
  
  .active {
    background-color: #007bff; /* Couleur pour les bulles actives */
  }


  .js svg {
    color: yellow;
  }

  .css svg {
    color: #007bff;
  }

  .java svg {
    color: orange;
  }

  .php svg {
    color: #007bff;
  }

  .unity svg {
    color: white;
  }

  .git svg {
    color: burlywood;
  }

  .c svg {
    color:  #007bff ;
  }

  .terminal svg {
    color: white;
  }

  .api svg {
    color: white;
  }
  
  .python {
    color: yellow;
  }

  .react{
    color: skyblue;
  }

  .ejs {
    color: #fff;
  }

  @media (max-width: 1024px) {
    .skills-table {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 768px) {
    .skills-table {
      grid-template-columns: repeat(1, 1fr);
    }
  }